- content_for :header do
  .row
    .col-xs-12.col-sm-4.col-md-4.col-md-offset-1.text-center
      %h3.plantcare-icon.mb-3.mt-2
        = link_to root_path do
          = image_tag "logo.png", height: 40

    .col-sm-6.col-md-5.hidden-xs.text-right
      .btn-group.actions.mt-2.third-color
        = raw I18n.t('sessions.new.create_account', signup_link: signup_path)

.form.content.vline-middle.flex.flex-direction-column.flex-justify-center.align-center.pb-4
  .row.full-width
    .col-xs-12.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-4
      .p-2
        = render partial: 'shared/title', locals: { title: I18n.t('sessions.new.title'), subtitle: I18n.t('sessions.new.subtitle') }
        = render partial: 'sessions/signin'
        .row.full-width
          .visible-xs.col-xs-12.text-center.primary-color
            = raw I18n.t('sessions.new.create_account', signup_link: signup_path)


= modal_for('signup_modal', I18n.t("users.new.subtitle").humanize, { footer: false }) do
  - capture_haml do
    .plantcare-fields-dark
      = render partial: 'users/signup', locals: { remote: true }
