= modal_for("new_watering_schedule",  I18n.t("watering_schedules.new.title"), { footer: false }) do
  - capture_haml do
    = form_for @watering_schedule, url: { controller: "watering_schedules", action: "create" }, method: :post, remote: true do |f|
      .plantcare-fields-dark.watering-schedule-panel
        .watering-schedule-left-panel.vline-middle.text-center
          .mr-2.ml-2.opposite-color
            = fa_icon "bigger-2 far fa-calendar-alt vline-middle weight-2"
            %h6.weight-2= I18n.t("watering_schedules.new.explaining")

        .watering-schedule-right-panel.vline-middle
          = f.hidden_field :plantcare_id
          .flex
            = f.text_field :starts_on, class: "form-control datepicker flex-inline", placeholder: I18n.t("watering_schedules.wtever_api.attributes.starts_on")
            = f.text_field :ends_on, class: "form-control datepicker flex-inline", placeholder: I18n.t("watering_schedules.wtever_api.attributes.ends_on")

          .flex
            = f.number_field :duration_amount, class: "form-control", placeholder: I18n.t("watering_schedules.wtever_api.attributes.duration_amount")
            = f.select :duration_unit, WteverApi::WateringSchedule::DURATION_UNITS, { prompt: true }, { class: "form-control" }

          .flex
            = f.number_field :frequency_amount, class: "form-control", placeholder: I18n.t("watering_schedules.wtever_api.attributes.frequency_amount")
            = f.select :frequency_unit, WteverApi::WateringSchedule::FREQUENCY_UNITS, { prompt: true }, { class: "form-control" }

          .mt-4
            = render partial: "shared/form/submit", locals: { submit_class: "custom-btn-primary", remote: true }