= f.hidden_field :id if f.object.id.present?

.form-group
  = f.text_field :first_name, class: 'form-control', placeholder: I18n.t('users.plantcare_api.attributes.first_name')
.form-group
  = f.text_field :last_name, class: 'form-control', placeholder: I18n.t('users.plantcare_api.attributes.last_name')
.form-group
  = f.email_field :email, class: 'form-control', placeholder: I18n.t('users.plantcare_api.attributes.email')
.form-group
  = f.password_field :password, class: 'form-control', placeholder: I18n.t('users.plantcare_api.attributes.password')
.form-group
  = f.password_field :password_confirmation, class: 'form-control', placeholder: I18n.t('users.plantcare_api.attributes.password_confirmation')
