.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-10.col-xl-8
    .flex.align-center.pt-2.pb-2
      .flex.flex-direction-column
        %h4.bigger-2.weight-3= I18n.t("users.welcome.features.feature-1.title")
        %h5.bigger-1.weight-2= I18n.t("users.welcome.features.feature-1.description").html_safe

    .flex.align-center.pt-2.pb-2
      .flex.flex-direction-column
        %h4.bigger-2.weight-3= I18n.t("users.welcome.features.feature-2.title")
        %h5.bigger-1.weight-2= I18n.t("users.welcome.features.feature-2.description").html_safe

    .flex.align-center.pt-2.pb-2
      .flex.flex-direction-column
        %h4.bigger-2.weight-3= I18n.t("users.welcome.features.feature-3.title")
        %h5.bigger-1.weight-2= I18n.t("users.welcome.features.feature-3.description").html_safe

    .flex.align-center.pt-2.pb-2
      .flex.flex-direction-column
        %h4.bigger-2.weight-3= I18n.t("users.welcome.features.feature-4.title")
        %h5.bigger-1.weight-2= I18n.t("users.welcome.features.feature-4.description").html_safe

    .flex.align-center.pt-2.pb-2
      .flex.flex-direction-column
        %h4.bigger-2.weight-3= I18n.t("users.welcome.features.feature-5.title")
        %h5.bigger-1.weight-2= I18n.t("users.welcome.features.feature-5.description").html_safe
