- content_for :header do
  .row
    .col-xs-12.col-md-6.col-md-offset-1
      %h2.plantcare-ico
        = link_to I18n.t('title'), root_path

    .col-md-4.hidden-xs.text-right
      .btn-group.actions
        .header-field
          = raw I18n.t('users.new.have_account', signin_link: signin_path)

%section.intro
  .content
    = render partial: 'shared/title', locals: { title: I18n.t('users.new.title'), subtitle: I18n.t('users.new.subtitle') }

    .row
      .col-xs-12.col-md-4.col-md-offset-4.text-center
        = render partial: 'users/signup'

  = modal_for('signin_modal', I18n.t("sessions.new.subtitle").humanize, { footer: false }) do
    - capture_haml do
      = render partial: 'sessions/signin', locals: { remote: true }
