- content_for :header do
  .row
    .col-xs-12.col-sm-4.col-md-4.col-md-offset-1
      %h3.plantcare-icon.mb-3.mt-2
        = link_to root_path do
          = image_tag "logo.png", height: 65

.intro.flex.flex.flex-direction-column.align-center.pb-2.visible-xs
  = flex_image_div image_url: "home.png", mobile: true
  = flex_panel_div mobile: true, classes: "flex-direction-column" do
    = render partial: 'shared/title',
             locals: { title: I18n.t('users.welcome.title'), subtitle: I18n.t('users.welcome.explanation') }
    .full-width.p-2.pt-4
      = link_to t('users.welcome.need_more'), '#features', class: "custom-btn custom-btn-secondary btn-block rf"
      = link_to t('sessions.new.title'), signin_path, class: "custom-btn custom-btn-primary btn-block"
      = link_to t('users.new.title'), signup_path, class: "custom-btn custom-btn-primary custom-btn-active btn-block"

.intro.flex.align-center.pt-2.pb-2.hidden-xs
  = flex_panel_div classes: "flex-direction-column" do
    = render partial: 'shared/title',
              locals: { title: I18n.t('users.welcome.title'), subtitle: I18n.t('users.welcome.explanation') }
    .full-width.p-2.pt-4{ style: 'width: 40%' }
      = link_to t('users.welcome.need_more'), '#features', class: "custom-btn custom-btn-secondary btn-block rf"
      = link_to t('sessions.new.title'), signin_path, class: "custom-btn custom-btn-primary btn-block"
      = link_to t('users.new.title'), signup_path, class: "custom-btn custom-btn-primary custom-btn-active btn-block"


  = flex_image_div image_url: "home.png"


%div{id: "features"}
  .features.flex.align-center.pt-2.pb-2.hidden-xs
    = flex_image_div image_url: "features.png"
    = flex_panel_div classes: "flex-direction-column" do
      = render partial: 'shared/title', locals: { title: I18n.t('users.welcome.features.title'), classes: "text-left full-width" }
      .full-width.p-2.pt-4
        = render partial: "features"

  .features.flex.align-center.pt-2.pb-2.visible-xs
    = flex_image_div image_url: "features.png", mobile: true
    = flex_panel_div classes: "flex-direction-column", mobile: true do
      = render partial: 'shared/title', locals: { title: I18n.t('users.welcome.features.title') }
      .full-width.p-2.pt-4
        = render partial: "features"