= modal_for("last-connections", I18n.t('menu.board_status'), { footer: false }) do
  - capture_haml do
    .last-connections-panel
      .last-connections-left-panel.vline-middle.text-center
        .mr-2.ml-2.opposite-color
          = fa_icon "bigger-3 far fa-microchip vline-middle weight-2"
          %h5.weight-2= I18n.t("menu.status_details")

      .last-connections-right-panel.vline-middle.text-center
        - current_user.board_connections.each do |board_connection_at|
          .pb-2
            = fa_icon 'far fa-clock opposite-color pr-1 bigger-2 vline-middle'
            %h4.m-0.vline-middle.inline-block.weight-1
              = I18n.localize(board_connection_at)
            = connection_tag_for(@board_connection_at)

