.hidden-xs.col-md-6.text-right
  .btn-group.profile
    = link_to profile_user_path(1) do
      %h4
        = "#{current_user.first_name} #{current_user.last_name}"

      = image_tag ('default-profile')
