.hidden-xs.col-sm-6.col-md-6.text-right
  .btn-group.profile.mt-2
    = link_to profile_user_path(current_user), class: 'font-color inline-block mr-1' do
      %h3.m-0.inline-block.vline-middle
        = fa_icon 'fal fa-user-circle font-color'

      %h5.font-color.m-0.inline-block.weight-2
        = current_user.first_name

    = link_to signout_path, class: 'font-color inline-block' do
      %h4.m-0.inline-block.vline-middle
        = fa_icon 'fal fa-sign-out-alt font-color'
