= modal_for('edit_water_pump', I18n.t("waterpumps.edit.title"), { footer: false }) do
  - capture_haml do
    = form_for @water_pump, url: { controller: 'water_pumps', action: 'update' }, method: :patch, remote: true do |f|
      .form_group
        .table
          .table-cell.mb-2.vline-middle
            = switch_for(f, :status)

          .table-cell.mb-2.pl-2
            .small= I18n.t("waterpumps.edit.explaining", water_pump_field: @water_pump.field)
            .small.weight-3= I18n.t("waterpumps.edit.spoiler", water_pump_field: @water_pump.field)

      = render partial: 'shared/form/submit', locals: { submit_class: 'custom-btn-primary', remote: true }
