.plantcare-card.m-1{ data: { plantcare: plantcare.id } }
  .image-card
    = image_tag plantcare_picture(plantcare)
    .plantcare-info.text-center.p-2
      .pl-1
        .smaller-1.weight-2.opposite-color.text-left
          = I18n.t("plantcares.index.plantcare.wet_synced_at", wet_synced_at: plantcare.wet_synced_at || "-")
        = render partial: "detail", locals: { plantcare: plantcare, icon_classes: "fal fa-heartbeat", attribute: :wet, value: "#{plantcare.wet}%", custom_classes: "bigger-2", value_classes: plantcare.status }

      .pl-3.pt-1.detail.text-left
        = svg_icon_tag("watering-icon", { classes: "icon pr-1 svg-opposite-color vline-bottom" })

        .inline-flex
          %h6.mb-1.mt-1.opposite-color.weight-2{ alt: I18n.t("plantcares.wtever_api.attributes.watered_at") }
            = I18n.t("plantcares.index.plantcare.watered_at")
          %h6.weight-2.opposite-color.m-0
            = plantcare.watered_at.presence || "-"


      .pl-3.mb-1.mt-4.opposite-color.text-left
        %h6.weight-3.mb-0.mt-1
          = I18n.t("watering.next_title")
        - if plantcare.waterings.any?(&:programmed?)
          = render partial: "waterings/info",
                   collection: plantcare.waterings.select(&:programmed?).last(3),
                   as: :watering
        - else
          = I18n.t("watering.no_pending_title").html_safe


  .plantcare-body.p-2
    .text-right.mb-1
      = board_status_tag(plantcare.board.status)

    .detail.text-left.font-color
      = svg_icon_tag("board-icon", { classes: "icon pr-1 svg-font-color vline-bottom" })
      .inline-flex
        %h6.mb-1.mt-1.font-color.weight-2{ alt: I18n.t("plantcares.wtever_api.attributes.last_connection_at") }
          = I18n.t("plantcares.index.plantcare.last_connection_at")
        %h6.weight-2.font-color.m-0
          = plantcare.board.last_connection_at.presence || "-"

    %h3.weight-2= plantcare.name
    = link_to edit_plantcare_path(plantcare), class: "font-color block mt-1 mb-0" do
      = fa_icon "fal fa-pen-square vline-middle flex-inline"
      %h5.bigger-1.weight-3.vline-middle.m-0.flex-inline
        = I18n.t("plantcares.edit.goto-title")

    - if plantcare.water_pump.present?
      = link_to new_watering_path(water_pump_id: plantcare.water_pump_id), remote: true, class: "font-color block mt-1 mb-0" do
        = fa_icon "fal fa-dewpoint vline-middle flex-inline"
        %h5.bigger-1.weight-3.vline-middle.m-0.flex-inline
          = I18n.t("waterings.new.title")

      - if plantcare.watering_schedule.present?
        = link_to edit_watering_schedule_path(id: plantcare.watering_schedule.id), remote: true, class: "font-color block mt-1 mb-0" do
          = fa_icon "far fa-calendar-alt vline-middle flex-inline"
          %h5.bigger-1.weight-3.vline-middle.m-0.flex-inline
            = I18n.t("watering_schedules.edit.title")
      - else
        = link_to new_watering_schedule_path(plantcare_id: plantcare.id), remote: true, class: "font-color block mt-1 mb-0" do
          = fa_icon "far fa-calendar-alt vline-middle flex-inline"
          %h5.bigger-1.weight-3.vline-middle.m-0.flex-inline
            = I18n.t("watering_schedules.new.title")

    - else
      %h6.weight-2= I18n.t("waterpumps.edit.unconfigured")

:javascript
  $('[data-plantcare="#{plantcare.id}"]').change(function(){
    $(this).find('form').submit();
  });