.flex.flex-direction-row.flex-justify-space-between.p-2
  .flex.flex-direction-column
    - if plantcare.wet
      = render partial: "detail", locals: { plantcare: plantcare, icon_classes: "fal fa-heartbeat", attribute: :wet, value: "#{plantcare.wet}%", value_classes: plantcare.status }
    - if plantcare.planted_at
      = render partial: "detail", locals: { plantcare: plantcare, icon_classes: "fal fa-hand-holding-seedling", attribute: :planted_at,  value: plantcare.planted_at }
    - if plantcare.watered_at
      = render partial: "detail", locals: { plantcare: plantcare, icon_classes: "fal fa-hand-holding-water", attribute: :watered_at, value: plantcare.watered_at }

  - if plantcare.id.present?
    .flex
      = link_to plantcare_path(plantcare), method: :delete, data: { confirm: I18n.t("confirmation") } do
        = fa_icon "fal fa-trash-alt bigger-2 pr-1 opposite-color vline-bottom"
