.well
  .flex.flex-direction-column.flex-justify-space-between.align-left
    %h5.weight-2.mt-3.mb-0
      = "#{I18n.t("plantcares.show.plantcare.configuration.water_pump.title")}:"
    %h6.mt-1.mb-0
      = I18n.t("plantcares.show.plantcare.configuration.water_pump.description")

    %h5.weight-2.mt-0.mb-0.pt-3
      = "#{I18n.t("plantcares.show.plantcare.configuration.wet_sensor.title")}:"
    %h6.mt-1.mb-0
      = I18n.t("plantcares.show.plantcare.configuration.wet_sensor.description")

    %h5.weight-2.mt-0.mb-0.pt-3
      = "#{I18n.t("plantcares.show.plantcare.configuration.sleep_time.title")}:"
    %h6.mt-1.mb-0
      = I18n.t("plantcares.show.plantcare.configuration.sleep_time.description")

    %h5.weight-2.mt-0.mb-0.pt-3
      = "#{I18n.t("plantcares.show.plantcare.configuration.watering_interval.title")}:"
    %h6.mt-1.mb-0
      = I18n.t("plantcares.show.plantcare.configuration.watering_interval.description")

    %h5.weight-2.mt-0.mb-0.pt-3
      = "#{I18n.t("plantcares.show.plantcare.configuration.watering_interval_delay.title")}:"
    %h6.mt-1.mb-0
      = I18n.t("plantcares.show.plantcare.configuration.watering_interval_delay.description")

    %h5.weight-2.mt-0.mb-0.pt-3
      = "#{I18n.t("plantcares.show.plantcare.configuration.auto_calculation.title")}:"
    %h6.mt-1.mb-0
      = I18n.t("plantcares.show.plantcare.configuration.auto_calculation.description").html_safe

    %h5.weight-2.mt-0.mb-0.pt-3
      = "#{I18n.t("plantcares.show.plantcare.configuration.max_dried_value.title")}:"
    %h6.mt-1.mb-0
      = I18n.t("plantcares.show.plantcare.configuration.max_dried_value.description")

    %h5.weight-2.mt-0.mb-0.pt-3
      = "#{I18n.t("plantcares.show.plantcare.configuration.max_wet_value.title")}:"
    %h6.mt-1.mb-0
      = I18n.t("plantcares.show.plantcare.configuration.max_wet_value.description")