.col-xs-12.col-sm-6.col-md-4
  .plantcare{ style: plantcare_picture(plantcare) }
    .to-top.p-4.opposite-color
      -if plantcare.water_pump_id
        = link_to edit_water_pump_path(plantcare.water_pump_id),class: " pull-left text-left", remote: true do
          %h5.m-1.weight-2.opposite-color
            = I18n.t('plantcares.index.enable_water_pump')
            = fa_icon "fal fa-dewpoint opposite-color vline-bottom bigger-1"

      .pull-right.text-right
        - if plantcare.planted_at
          %h5.m-1.weight-2{ alt: I18n.t("plantcares.wtever_api.attributes.planted_at") }
            = fa_icon "fal fa-hand-holding-seedling vline-bottom"
            .inline-block.vline-bottom
              = plantcare.planted_at

        = render partial: 'plantcares/common_details', locals: { plantcare: plantcare }

    .title.text-center
      = link_to edit_plantcare_path(plantcare.id) do
        %h3.text-uppercase.mb-0.weight-1.opposite-color
          = plantcare.name
        %h4.m-0.weight-2.opposite-color
          = I18n.t('plantcares.edit.title')
        .m-0.p-0
          %h4= fa_icon "fal fa-leaf-heart opposite-color"