- custom_classes ||= ""
- value_classes ||= ""
- icon_classes ||= ""
.flex{ class: "detail text-left #{custom_classes}" }
  = fa_icon "#{icon_classes} bigger-2 pr-1 opposite-color vline-bottom"

  .inline-flex
    %h5.mb-1.mt-1.opposite-color.weight-2{ alt: I18n.t("plantcares.wtever_api.attributes.#{attribute}") }
      = I18n.t("plantcares.index.plantcare.#{attribute}")
    %h5.weight-2.bigger-1.opposite-color.m-0{ class: value_classes }
      = value