.plantcare-card.m-1{ data: { plantcare: plantcare.id } }
  .image-card
    = image_tag plantcare_picture(plantcare)
    = link_to edit_plantcare_path(plantcare), class: "opposite-color goto-edit" do
      %h5.text-uppercase.weight-2= I18n.t("plantcares.edit.goto-title")
    - if plantcare.wet
      .wet-percentage.text-center.vline-middle.inline-block
        = circular_chart(plantcare.wet, status_class: plantcare.status, class: "vline-middle inline-block") do
          = number_to_percentage(plantcare.wet, precision: 0)
        %h5.ml-1.weight-2.inline-block.opposite-color.vline-middle
          = I18n.t("plantcares.index.plantcare.of_wet")

  .plantcare-body.pt-4.pb-4.pl-2.pr-2
    - if plantcare.planted_at
      %h6.weight-2.mb-1.mt-1{ alt: I18n.t("plantcares.wtever_api.attributes.planted_at") }
        = fa_icon "fal fa-hand-holding-seedling vline-bottom"
        %span.vline-bottom
          = I18n.t("plantcares.index.plantcare.planted_at", planted_at: plantcare.planted_at)

    - if plantcare.watered_at
      %h6.weight-2.mb-1.mt-1{ alt: I18n.t("plantcares.wtever_api.attributes.watered_at") }
        = fa_icon "fal fa-hand-holding-water vline-bottom"
        %span.vline-bottom
          = I18n.t("plantcares.index.plantcare.watered_at", watered_at: plantcare.watered_at)

    %h3.weight-2= plantcare.name
    - if plantcare.water_pump.present?
      %h4.m-0.weight-2.flex-inline= I18n.t("waterpumps.edit.title")
      .flex-inline.pl-1
        = form_for plantcare.water_pump, url: water_pump_path(plantcare.water_pump.id),
                   method: :patch, remote: true do |f|
          = switch_for(f, :status)
      .small
        = I18n.t("waterpumps.edit.explaining", water_pump_field: plantcare.water_pump.field).html_safe
    - else
      %h6.weight-2= I18n.t("waterpumps.edit.unconfigured")

:javascript
  $('[data-plantcare="#{plantcare.id}"]').change(function(){
    $(this).find('form').submit();
  });