.row
  .col-xs-8.col-xs-offset-2.col-sm-offset-0.col-sm-6.col-md-3.text-center
    = fa_icon "bigger-3 p-2 opposite-color fal fa-hand-holding-seedling"
    %h5.opposite-color.weight-2
      = I18n.t("plantcares.index.howto-1")

  .col-xs-8.col-xs-offset-2.col-sm-offset-0.col-sm-6.col-md-3.text-center
    = fa_icon "bigger-3 p-2 opposite-color fal fa-microchip"
    %h5.opposite-color.weight-2
      = I18n.t("plantcares.index.howto-2")

  .col-xs-8.col-xs-offset-2.col-sm-offset-0.col-sm-6.col-md-3.text-center
    = fa_icon "bigger-3 p-2 opposite-color fal fa-dewpoint"
    %h5.opposite-color.weight-2
      = I18n.t("plantcares.index.howto-3")

  .col-xs-8.col-xs-offset-2.col-sm-offset-0.col-sm-6.col-md-3.text-center
    = fa_icon "bigger-3 p-2 opposite-color fal fa-leaf-heart"
    %h5.opposite-color.weight-2
      = I18n.t("plantcares.index.howto-4")