.well
  .flex.flex-direction-column.flex-justify-space-between.align-left
    %h5.weight-2.mt-3.mb-0
      = "#{I18n.t("plantcares.show.plantcare.configuration.water_pump.title")}:"
    %h6.mt-1.mb-0
      = I18n.t("plantcares.show.plantcare.configuration.water_pump.description")

    %h5.weight-2.mt-0.mb-0.pt-3
      = "#{I18n.t("plantcares.show.plantcare.configuration.wet_sensor.title")}:"
    %h6.mt-1.mb-0
      = I18n.t("plantcares.show.plantcare.configuration.wet_sensor.description")

    %h5.weight-2.mt-0.mb-0.pt-3
      = "#{I18n.t("plantcares.show.plantcare.configuration.board_sleep_time.title")}:"
    %h6.mt-1.mb-0
      = I18n.t("plantcares.show.plantcare.configuration.board_sleep_time.description")

    %h5.weight-2.mt-0.mb-0.pt-3
      = "#{I18n.t("plantcares.show.plantcare.configuration.board_watering_interval.title")}:"
    %h6.mt-1.mb-0
      = I18n.t("plantcares.show.plantcare.configuration.board_watering_interval.description")

    %h5.weight-2.mt-0.mb-0.pt-3
      = "#{I18n.t("plantcares.show.plantcare.configuration.board_watering_interval_delay.title")}:"
    %h6.mt-1.mb-0
      = I18n.t("plantcares.show.plantcare.configuration.board_watering_interval_delay.description")

    %h5.weight-2.mt-0.mb-0.pt-3
      = "#{I18n.t("plantcares.show.plantcare.configuration.calibrate_board.title")}:"
    %h6.mt-1.mb-0
      = I18n.t("plantcares.show.plantcare.configuration.calibrate_board.description")

    %h5.weight-2.mt-0.mb-0.pt-3
      = "#{I18n.t("plantcares.show.plantcare.configuration.configure_board.title")}:"
    %h6.mt-1.mb-0
      = I18n.t("plantcares.show.plantcare.configuration.configure_board.description")