#plantcare-panel.plantcare.opposite-color.p-2.vline-top{style: plantcare_background(@plantcare)}
  .row
    .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
      = render partial: "plantcares/common_details",
                locals: { plantcare: @plantcare, show_watering: false }

  .title.text-center
    %h1.text-uppercase.mb-0
      = I18n.t("plantcares.edit.title")
    %h4.m-0.weight-2
      = I18n.t("plantcares.edit.subtitle")
    %h4#edit-picture.m-0.p-1
      = fa_icon "fal fa-camera-retro opposite-color"
.row
  .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
    .p-2
      = form_for @plantcare, url: plantcare_path(@plantcare), method: :put, html: { id: "form_wtever_api_plantcare" } do |f|
        = render partial: "form", locals: { f: f, form_id: "form_wtever_api_plantcare" }

        .pt-2
          = render "shared/form/submit", f: f