%section.intro
  .content.vline-top
    .container-asereje
      #plantcare-panel.plantcare.p-2{style: plantcare_picture(@plantcare)}
        .row
          .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3 
            .to-top
              .pull-right.p-2.text-right
                = render partial: 'plantcares/common_details', locals: { plantcare: @plantcare }

        .title.text-center
          %h3.text-uppercase.mb-0.weight-1
            = I18n.t('plantcares.edit.title')
          %h4.m-0.weight-2
            = I18n.t('plantcares.edit.subtitle')      
          %h4#edit-picture.m-0.p-1
            = fa_icon 'fal fa-camera-retro opposite-color'
      .row
        .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3        
          .p-2
            = form_for @plantcare, url: plantcare_path(@plantcare), method: :put, html: { id: 'form_wtever_api_plantcare' } do |f|
              = render partial: 'form', locals: { f: f, form_id: 'form_wtever_api_plantcare' }          
    
              .pt-2
                = render 'shared/form/submit', f: f          