%section.intro
  .content
    = render partial: 'shared/title', locals: { title: I18n.t('plantcares.index.title'), subtitle: I18n.t('plantcares.new.subtitle') }

    .row
      .col-xs-12.col-md-8.col-md-offset-2.text-left
        %h4
          = I18n.t('plantcares.index.howto')

        .text-center
          = link_to I18n.t('plantcares.new.title'), new_plantcare_path, class: 'custom-btn custom-btn-primary custom-btn-active'

%section
  .content
    - if @plantcares.present?
      = render partial: 'shared/title', locals: { title: nil, subtitle: I18n.t('plantcares.index.show'), dark: true }

      .row
        = render partial: 'plantcare', collection: @plantcares, as: :plantcare
    - else
      = render partial: 'shared/not_found', locals: { title: I18n.t('plantcares.index.no-plants-title'),
                                                      subtitle: I18n.t('plantcares.index.no-plants-subtitle', new_plant_link: new_plantcare_path),
                                                      dark: true }

:javascript
  $(document).ready(function(){
    $('.action').each(function(){
      $(this).addClass('swashIn');
    });
  })
