- if @plantcares.present?
  .vline-middle
    = render partial: "shared/title", locals: { title: I18n.t("plantcares.index.title"), subtitle: I18n.t("plantcares.index.subtitle") }

    .text-center.mt-3.mb-3.new-plantcare
      = link_to I18n.t("plantcares.new.title"), new_plantcare_path, class: "custom-btn custom-btn-secondary"

    = link_to "#instructions", class: "goto-instructions opposite-color", data: { target: "#instructions", toggle: "modal" } do
      = fa_icon "bigger-1 far fa-question-circle vline-middle pr-2"
      %h5.weight-2.text-uppercase.m-0= I18n.t("plantcares.index.how-it-works")

    .plantcare-cards.pt-3.pb-4
      = render partial: "card", collection: @plantcares, as: :plantcare

  = modal_for("instructions", I18n.t("plantcares.index.how-it-works"), { footer: false }) do
    - capture_haml do
      = render partial: "instructions"

  #new_watering_modal
  #edit_watering_modal
  #list_waterings_modal
  #new_watering_schedule_modal
  #edit_watering_schedule_modal

- else
  .intro.p-1.content.vline-middle.opposite-color
    = render partial: "shared/title", locals: { title: I18n.t("plantcares.index.title"), subtitle: I18n.t("plantcares.index.subtitle") }

    .mt-4
      .row
        .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
          .mt-4.mb-4
            = render partial: "instructions"

          .text-center.pt-3
            = link_to I18n.t("plantcares.new.title"), new_plantcare_path, class: "custom-btn custom-btn-secondary"


:javascript
  $(document).ready(function(){
    $(".action").each(function(){
      $(this).addClass("swashIn");
    });
  })
