.plantcare-fields-dark.watering-schedule-panel
  .watering-left-panel.vline-middle
    .mr-2.ml-2.font-color
      .text-center
        = image_tag "watering.png", width: "65%"
      %h1.weight-2=I18n.t("waterings.new.title")
      %h5.weight-2= I18n.t("waterings.new.explaining")

  .watering-right-panel.vline-middle
    = f.hidden_field :water_pump_id
    .flex
      = f.number_field :duration_amount, class: "form-control", placeholder: I18n.t("waterings.plantcare_api.attributes.duration_amount")
      = f.select :duration_unit, PlantcareApi::WateringSchedule::DURATION_UNITS, { prompt: true }, { class: "form-control" }

    .flex
      = f.text_field :programmed_at, class: "form-control datepicker flex-inline", placeholder: I18n.t("waterings.plantcare_api.attributes.programmed_at")

    .mt-4
      = render partial: "shared/form/submit", locals: { submit_class: "custom-btn-primary", remote: true }
